In [7]:
import pandas as pd
import numpy as np

dta = pd.read_csv(r'C:\Users\jenso\Desktop\Italy2.csv')
dta

,Unnamed: 0,"Italy Prices, Consumer Price Index, All items, Index","Economic Activity, Industrial Production, Index","Industrial Production, Seasonally adjusted, Index","US Prices, Consumer Price Index, All items, Index","Domestic Currency per U.S. Dollar, Period Average"
0,1960M01,4.143942,30.876790,29.587277,13.436946,621.118012
1,1960M02,4.136754,32.333019,30.397727,13.482806,621.118012
2,1960M03,4.129566,33.434071,30.867553,13.482806,620.600000
3,1960M04,4.125971,33.611660,30.914535,13.528666,625.000001
4,1960M05,4.133160,34.345694,31.325633,13.528666,625.000001
...,...,...,...,...,...,...
367,1990M08,56.149763,51.382389,102.539472,60.351608,1158.680000
368,1990M09,56.446401,109.157978,102.422016,60.856066,1171.700000
369,1990M10,56.912541,111.881008,101.834734,61.222946,1141.680000
370,1990M11,57.251568,106.316556,100.542713,61.360525,1116.310000
371,1990M12,57.378693,97.910681,102.069647,61.360525,1124.850000

In [8]:
#renaming the columns
dta.columns = ['year_month', 'Italy CPI', 'Italy IP', 'Italy IP SA', 'US CPI', 'EX']

dta

    year_month  Italy CPI    Italy IP  Italy IP SA     US CPI           EX
0      1960M01   4.143942   30.876790    29.587277  13.436946   621.118012
1      1960M02   4.136754   32.333019    30.397727  13.482806   621.118012
2      1960M03   4.129566   33.434071    30.867553  13.482806   620.600000
3      1960M04   4.125971   33.611660    30.914535  13.528666   625.000001
4      1960M05   4.133160   34.345694    31.325633  13.528666   625.000001
..         ...        ...         ...          ...        ...          ...
367    1990M08  56.149763   51.382389   102.539472  60.351608  1158.680000
368    1990M09  56.446401  109.157978   102.422016  60.856066  1171.700000
369    1990M10  56.912541  111.881008   101.834734  61.222946  1141.680000
370    1990M11  57.251568  106.316556   100.542713  61.360525  1116.310000
371    1990M12  57.378693   97.910681   102.069647  61.360525  1124.850000

[372 rows x 6 columns]

In [17]:
#Italy

#(i)taking the logs of the EX 
dta['EX'] = pd.to_numeric(dta['EX'])
dta['log_EX'] = np.log(dta['EX'])
#(ii) taking the difference in logEX to be diff_log_EX
dta['dif_log_EX'] = dta['log_EX'].diff().fillna(0)

#Getting the inflation rate 
#(iii) log inflation
dta['Italy CPI'] = pd.to_numeric(dta['Italy CPI'])
dta['ITA log CPI'] = np.log(dta['Italy CPI'])
#inflation versus the previous month
dta['monthly ITA inflation'] = dta['ITA log CPI'].diff().fillna(0)



#(iv) log of industrial production
dta['log Italy IP'] = np.log(dta['Italy IP'])
#(v) growth of industrial production
dta['diff_log Italy IP']= dta['log Italy IP'].diff().fillna(0)

pd.options.display.max_rows
dta

,year_month,Italy CPI,Italy IP,Italy IP SA,US CPI,EX,log_EX,dif_log_EX,ITA log CPI,monthly ITA inflation,US_log_CPI,monthly US inflation,log Italy IP,diff_log Italy IP
0,1960M01,4.143942,30.876790,29.587277,13.436946,621.118012,6.431521,0.000000,1.421648,0.000000,2.598008,0.000000,3.430005,0.000000
1,1960M02,4.136754,32.333019,30.397727,13.482806,621.118012,6.431521,0.000000,1.419911,-0.001736,2.601415,0.003407,3.476089,0.046084
2,1960M03,4.129566,33.434071,30.867553,13.482806,620.600000,6.430687,-0.000834,1.418172,-0.001739,2.601415,0.000000,3.509575,0.033486
3,1960M04,4.125971,33.611660,30.914535,13.528666,625.000001,6.437752,0.007065,1.417301,-0.000871,2.604811,0.003396,3.514873,0.005298
4,1960M05,4.133160,34.345694,31.325633,13.528666,625.000001,6.437752,0.000000,1.419042,0.001741,2.604811,0.000000,3.536477,0.021604
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367,1990M08,56.149763,51.382389,102.539472,60.351608,1158.680000,7.055037,-0.036456,4.028022,0.006816,4.100188,0.009160,3.939295,-0.765361
368,1990M09,56.446401,109.157978,102.422016,60.856066,1171.700000,7.066211,0.011174,4.033292,0.005269,4.108512,0.008324,4.692796,0.753501
369,1990M10,56.912541,111.881008,101.834734,61.222946,1141.680000,7.040256,-0.025955,4.041516,0.008224,4.114522,0.006011,4.717436,0.024640
370,1990M11,57.251568,106.316556,100.542713,61.360525,1116.310000,7.017784,-0.022472,4.047455,0.005939,4.116767,0.002245,4.666421,-0.051015
371,1990M12,57.378693,97.910681,102.069647,61.360525,1124.850000,7.025405,0.007621,4.049673,0.002218,4.116767,0.000000,4.584056,-0.082365

In [14]:
#US
#(i) log inflation
dta['US_log_CPI'] = np.log(dta['US CPI'])
#(ii) inflation versus the previous month
dta['monthly US inflation'] = dta['US_log_CPI'].diff().fillna(0)
dta

,year_month,Italy CPI,Italy IP,Italy IP SA,US CPI,EX,log_EX,dif_log_EX,ITA log CPI,monthly ITA inflation,US_log_CPI,monthly US inflation
0,1960M01,4.143942,30.876790,29.587277,13.436946,621.118012,6.431521,0.000000,1.421648,0.000000,2.598008,0.000000
1,1960M02,4.136754,32.333019,30.397727,13.482806,621.118012,6.431521,0.000000,1.419911,-0.001736,2.601415,0.003407
2,1960M03,4.129566,33.434071,30.867553,13.482806,620.600000,6.430687,-0.000834,1.418172,-0.001739,2.601415,0.000000
3,1960M04,4.125971,33.611660,30.914535,13.528666,625.000001,6.437752,0.007065,1.417301,-0.000871,2.604811,0.003396
4,1960M05,4.133160,34.345694,31.325633,13.528666,625.000001,6.437752,0.000000,1.419042,0.001741,2.604811,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
367,1990M08,56.149763,51.382389,102.539472,60.351608,1158.680000,7.055037,-0.036456,4.028022,0.006816,4.100188,0.009160
368,1990M09,56.446401,109.157978,102.422016,60.856066,1171.700000,7.066211,0.011174,4.033292,0.005269,4.108512,0.008324
369,1990M10,56.912541,111.881008,101.834734,61.222946,1141.680000,7.040256,-0.025955,4.041516,0.008224,4.114522,0.006011
370,1990M11,57.251568,106.316556,100.542713,61.360525,1116.310000,7.017784,-0.022472,4.047455,0.005939,4.116767,0.002245
371,1990M12,57.378693,97.910681,102.069647,61.360525,1124.850000,7.025405,0.007621,4.049673,0.002218,4.116767,0.000000

In [ ]:
#straight inflation rate?
dta['ITA CPI growth'] = pd.dta.pct_change(periods = -1)